.clients {
	&__container {
		@extend %container;
		@extend %section;
		text-align: center;
	}

	&__title {
		@extend %title;
	}

	&__list {
		margin-top: 30px;
		display: flex;
		justify-content: center;
		gap: 30px;

		@include tabletMax {
			flex-wrap: wrap;
		}

		@include desktop {
			margin-top: 50px;
		}
	}

	&__item {
		border: 1px solid var(--icon);
		border-radius: 4px;
		@include animated($property: border-color);
		&:hover,
		&:focus {
			border-color: var(--accent);
		}
	}

	&__logo {
		display: block;
		fill: var(--icon);
		.clients__item:hover &,
		.clients__item:focus & {
			fill: var(--accent);
		}
		@include animated($property: fill);
		@include mobile {
			padding: 15px 51px;
		}
		@include tablet {
			padding: 15px 59px;
		}
		@include desktop {
			padding: 15px 31px;
		}
	}
}
