.features {
	@extend %section;
	padding-bottom: 47px;
	&__container {
		@extend %container;
	}

	&__tittle {
		@extend %visuality-hidden;
	}

	&__list {
		display: flex;
		gap: 30px;
		@include mobile {
			flex-direction: column;
		}
		@include tablet {
			flex-wrap: wrap;
		}
	}

	&__item {
		@include tablet {
			max-width: 354px;
		}
		@include desktop {
			max-width: 270px;
		}
	}

	&__icon {
		display: block;
		width: 100%;
		padding: 25px 0;
		background-color: var(--scnd-bcgd);
		border-radius: 4px;
	}

	&__label {
		margin-top: 30px;
		font-weight: 700;
		line-height: 1.14;
		text-transform: uppercase;
		@include mobile {
			text-align: center;
		}
	}

	&__description {
		margin-top: 10px;
		line-height: 1.71;
		color: var(--scnd-text);
	}
}
