.features {
	&__container {
		@extend %container;
		@extend %section;
	}

	&__tittle {
		@extend %visuality-hidden;
	}

	&__list {
		@include tablet {
			display: flex;
			flex-wrap: wrap;
			gap: 30px;
		}
	}

	&__item {
		@include mobile {
			&:not(:first-child) {
				margin-top: 30px;
			}
		}
		@include tablet {
			max-width: 354px;
		}
		@include desktop {
			max-width: 270px;
		}
	}

	&__icon {
		display: block;
		background-color: var(--scnd-bcgd);
		border-radius: 4px;
		@include mobile {
			padding: 25px 0;
			width: 100%;
		}
		@include tablet {
			padding: 25px 142px;
		}
		@include desktop {
			padding: 25px 100px;
		}
	}

	&__label {
		@extend %label;
		margin-top: 30px;
		@include mobile {
			text-align: center;
		}
	}

	&__description {
		margin-top: 10px;
		line-height: 1.71;
		color: var(--scnd-text);
	}
}
