.hero {
	padding-top: 118px;
	padding-bottom: 118px;

	background-color: var(--hero-background-color);
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	text-align: center;

	&__container {
		@extend %container;
		@media screen and (min-width: 480px) {
			width: 480px;
		}
	}

	&__title {
		display: inline-block;
		margin-bottom: 30px;
		max-width: 360px;

		font-weight: 900;
		font-size: 26px;
		line-height: 1.62;
		letter-spacing: 0.06em;
		text-transform: uppercase;

		color: var(--page-main-color);
	}
}
