.logo-label {
	color: var(--accent-color);
}

.page-header__logo {
	@extend %logo;
	padding-top: 24px;
	padding-bottom: 25px;
	margin-right: 93px;
	color: var(--logo-color);
}

.page-footer__logo {
	@extend %logo;
	color: var(--page-main-color);
}
