.our-jobs {
	@extend %page-container;
	padding-top: 47px;

	&__container {
		@extend %content-container;
	}

	&__title {
		margin-bottom: 50px;

		font-weight: 700;
		font-size: 36px;
		line-height: 1.16;
		text-align: center;

		color: var(--text-main-color);
	}

	&__list {
		display: flex;
		gap: 30px;
	}

	&__item {
		position: relative;
	}

	&__description {
		position: absolute;
		width: 100%;
		padding-top: 27px;
		padding-bottom: 27px;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		font-weight: 700;
		line-height: 1.14;
		text-align: center;
		text-transform: uppercase;
		color: var(--page-main-color);
		background-color: var(--wwd-background-color);
	}
}
