.page-footer {
	@extend %section;
	@include desktop {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	background-color: var(--footer-bcgd);

	&__container {
		@extend %container;
		@include mobile {
			text-align: center;
		}
		@include tablet {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}
		@include desktop {
			justify-content: space-between;
		}
	}

	&__logo {
		@extend %logo;
		color: var(--prim-bcgd);
	}
}

.address {
	margin-top: 20px;

	&__wrapper {
		@include tablet {
			display: inline-flex;
			flex-direction: column;
			align-items: center;
		}
		@include desktop {
			align-items: start;
		}
	}

	&__list {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		gap: 8px;
		@include desktop {
			align-items: start;
		}
	}

	&__item {
		font-weight: 400;
		font-style: normal;
		line-height: 1.71;
	}

	&__link {
		color: var(--prim-bcgd);
		&:hover,
		&:focus {
			color: var(--accent);
		}
		@include animated($property: color);
	}

	&__contact {
		color: var(--contact);
		&:hover,
		&:focus {
			color: var(--accent);
		}
		@include animated($property: color);
	}
}

.connect {
	@include mobile {
		margin-top: 60px;
	}
	@include tablet {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
	}
	@include desktop {
		align-items: flex-start;
	}

	&__title {
		font-weight: 700;
		line-height: 1.14;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: var(--prim-bcgd);
	}

	&__list {
		justify-content: center;
		gap: 10px;
		margin-top: 20px;

		@include mobile {
			display: flex;
		}
		@include tablet {
			display: inline-flex;
		}
	}

	&__item {
		overflow: hidden;
		border-radius: 50%;
		background-color: var(--icon-bcgd);
	}

	&__link {
		display: block;
		padding: 12px;
		&:hover,
		&:focus {
			background-color: var(--accent);
		}
		@include animated;
	}

	&__icon {
		display: block;
		fill: var(--prim-bcgd);
	}
}
.contact {
	margin-top: 60px;
	text-align: center;

	@include desktop {
		margin: 0;
		text-align: left;
	}

	&__form {
		@include desktop {
			display: flex;
			align-items: flex-end;
		}
	}

	&__label {
		font-weight: 700;
		line-height: 1.14;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: var(--prim-bcgd);
	}

	&__input {
		@extend %input-bcgd;
		height: 50px;
		width: 100%;
		margin-top: 20px;
		padding-left: 16px;
		font-size: 16px;
		line-height: 1.25;
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.3);
		border-radius: 4px;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
		color: inherit;
		&:hover,
		&:focus {
			border-color: var(--prim-bcgd);
		}
		&::placeholder {
			color: var(--contact);
		}
		@include tablet {
			max-width: 450px;
		}
		@include animated($property: border);
	}

	&__btn {
		@extend %btn;
		margin-top: 20px;
		@include desktop {
			margin-left: 12px;
		}
	}

	&__icon {
		margin-left: 12px;
		vertical-align: middle;
	}
}
