.page-header {
	&__container {
		@extend %container;
		@include mobile {
			padding-top: 10px;
			padding-bottom: 10px;
		}

		border-bottom: 1px solid var(--prim-border);

		display: flex;
		align-items: center;
		@include mobile {
			justify-content: space-between;
		}
	}

	&__logo {
		@extend %logo;
		@include tablet {
			padding-top: 26px;
			padding-bottom: 26px;
		}
	}

	&__menu {
		width: 100%;
		@include mobile {
			display: none;
		}
		@include tablet {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-left: 88px;
		}

		&.is-open {
			@include mobile {
				visibility: visible;
				overflow: auto;
				display: flex;
				flex-direction: column;
				width: stretch;
				height: calc(100% - 96px);
				padding: 48px 40px;
				position: absolute;
				top: 0;
				left: 0;
				background-color: var(--prim-bcgd);
			}
		}

		&-btn {
			display: none;
			@include mobile {
				display: block;
				visibility: visible;
				border: none;
				background-color: transparent;
				padding: 0;
			}
		}

		&-icon-open {
			@include mobile {
				display: block;
				padding: 12px 8px;
				@include animated($property: fill);
			}
			.page-header__menu-btn:hover &,
			.page-header__menu-btn:focus & {
				fill: var(--accent);
			}
		}

		&-icon-close {
			@include mobile {
				display: none;
				padding: 11px 11px;
				@include animated($property: fill);
			}
			.page-header__menu-btn:hover &,
			.page-header__menu-btn:focus & {
				fill: var(--accent);
			}
		}

		&-btn.is-open &-icon-open {
			@include mobile {
				display: none;
			}
		}

		&-btn.is-open &-icon-close {
			@include mobile {
				display: inline;
				position: absolute;
				top: 10px;
				right: 15px;
			}
		}
	}

	&__nav {
		&-list {
			display: flex;
			@include mobile {
				flex-direction: column;
				gap: 32px;
				margin-bottom: 32px;
			}
			@include tablet {
				gap: 50px;
			}
		}

		&-item {
			font-weight: 500;
			letter-spacing: 0.02em;

			@include mobile {
				font-size: 40px;
				line-height: 1.18;
			}
			@include tablet {
				position: relative;
				line-height: 1.14;
			}
		}

		&-link {
			@include tablet {
				display: inline-block;
				padding-top: 32px;
				padding-bottom: 32px;
			}
			&:hover,
			&:focus {
				color: var(--accent);
			}
			@include animated($property: color);
		}

		&-link.--current {
			color: var(--accent);
			@include tablet {
				&::after {
					content: "";

					position: absolute;
					bottom: -1px;
					left: 0;
					width: 100%;

					border: 2px solid var(--accent);
					border-radius: 2px;
					background-color: var(--accent);
				}
			}
		}

		&-link:hover,
		&-link:focus {
			color: var(--focus);
		}
	}

	&__contact {
		&-list {
			display: flex;
			@include mobile {
				flex-direction: column-reverse;
				gap: 32px;
				margin-top: auto;
			}
			@include tablet {
				flex-direction: column;
				gap: 10px;
			}
			@include desktop {
				flex-direction: row;
				gap: 30px;
			}
		}

		&-item {
			font-weight: 500;
			letter-spacing: 0.02em;
			line-height: 1.17;

			color: var(--scnd-text);

			@include mobile {
				&:first-child {
					font-size: 24px;
					color: var(--scnd-text);
				}

				&:last-child {
					font-size: 34px;
					color: var(--accent);
				}
			}
			@include tablet {
				max-height: 14px;
				font-size: 12px;
			}
			@include desktop {
				font-size: 14px;
				line-height: 1.14;
			}
		}

		&-link {
			@include tablet {
				display: flex;
				align-items: center;
				gap: 8px;
			}
			&:hover,
			&:focus {
				color: var(--focus);
			}
			@include animated($property: color);
		}

		&-icon {
			fill: currentColor;
			@include mobile {
				display: none;
			}
		}
	}

	&__social {
		&-list {
			display: none;
			@include mobile {
				display: flex;
				flex-wrap: wrap;
				gap: 10px;
				margin-top: 64px;
			}
		}

		&-item {
			@include mobile {
				font-weight: 500;
				font-size: 18px;
				line-height: 1.22;
				letter-spacing: 0.02em;
				color: var(--accent);

				&:not(:last-child)::after {
					content: "";
					border: 1px solid rgba(33, 33, 33, 0.2);
					transform: rotate(90deg);
					margin-left: 10px;
				}
			}
		}

		&-link {
			&:focus,
			&:hover {
				color: var(--focus);
			}
		}
	}
}
