.page-header {
	border-bottom: 1px solid var(--prm-border-color);
	&__container {
		@extend %container;
		@media screen and (min-width: 480px) {
			width: 480px;
		}
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		@extend %logo;
		padding-top: 16px;
		padding-bottom: 16px;
		color: var(--logo-color);
	}

	&__nav.is-open {
		display: flex;
		flex-direction: column;
	}

	&__nav-open-icon {
		padding: 12px 8px;
	}
	&__nav-close-icon {
		display: none;
		padding: 11px;
	}

	&__nav-btn.is-open &__nav-open-icon {
		display: none;
	}

	&__nav-btn.is-open &__nav-close-icon {
		position: relative;
		display: block;
	}

	@media screen and (max-width: 767px) {
		&__nav {
			display: none;
			padding: 48px 40px;
			width: 100vw;
			height: 100vh;
			position: absolute;
			left: 0;
			background-color: #fff;
		}

		&__nav-list {
			display: flex;
			flex-direction: column;
			gap: 32px;
		}

		&__nav-item {
			font-weight: 500;
			font-size: 40px;
			line-height: 1.18;
			letter-spacing: 0.02em;
		}

		&__nav-link {
			color: var(--text-main-color);
			&__current {
				color: var(--accent-color);
			}
		}

		&__contact-list {
			display: flex;
			flex-direction: column-reverse;
			gap: 32px;
			margin-top: auto;
			margin-bottom: 64px;
		}

		&__contact-item:first-child {
			font-weight: 500;
			font-size: 24px;
			line-height: 1.17;
			letter-spacing: 0.02em;
			color: var(--paragraph-color);
		}

		&__contact-item:last-child {
			font-weight: 500;
			font-size: 34px;
			line-height: 1.18;
			letter-spacing: 0.02em;
			color: var(--accent-color);
		}

		&__contact-icon {
			display: none;
		}

		&__social-list {
			display: flex;
			gap: 10px;
		}

		&__social-item:not(:last-child)::after {
			content: "";
			margin-left: 10px;
			border: 1px solid rgba(33, 33, 33, 0.2);
			transform: rotate(90deg);
		}

		&__social-link {
			font-weight: 500;
			font-size: 18px;
			line-height: 1.22;
			letter-spacing: 0.02em;
			color: var(--accent-color);
		}
	}

	@media screen and (min-width: 768px) {
		&__nav-btn {
			display: none;
		}
	}
}
