.teammates {
	background-color: var(--scnd-bcgd);
	&__container {
		@extend %container;
		@extend %section;
		text-align: center;
	}

	&__title {
		@extend %title;
	}

	&__list {
		margin-top: 30px;

		@include mobile {
		}

		@include tablet {
			display: flex;
			flex-wrap: wrap;
			gap: 30px;
		}

		@include desktop {
			margin-top: 50px;
		}
	}

	&__item {
		@include mobile {
			&:not(:first-child) {
				margin-top: 30px;
			}
			max-width: 450px;
		}
		@include tablet {
			width: 354px;
		}
		@include desktop {
			width: 270px;
		}
		@extend %team-bcgd;
	}

	&__info {
		padding-top: 30px;
		padding-bottom: 24px;
	}

	&__name {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.19;
	}

	&__position {
		margin-top: 10px;
		font-size: 16px;
		line-height: 1.19;
		color: var(--scnd-text);
	}

	&__soc {
		&-list {
			display: flex;
			justify-content: center;
			gap: 10px;
			margin-top: 16px;
		}

		&-item {
			border-radius: 50%;
			overflow: hidden;
		}

		&-link {
			display: block;
			padding: 12px;
			&:hover,
			&:focus {
				background-color: var(--accent);
			}
			&:hover .teammates__soc-icon,
			&:focus .teammates__soc-icon {
				fill: var(--prim-bcgd);
			}
			@include animated();
		}

		&-icon {
			display: block;
			fill: var(--icon);
			@include animated($property: fill);
		}
	}
}
