.teammates {
	@extend %section;
	background-color: var(--scnd-bcgd);
	&__container {
		@extend %container;

		text-align: center;
	}

	&__title {
		font-weight: 700;
		font-size: 28px;
		line-height: 1.18;
	}

	&__list {
		margin-top: 30px;
		display: flex;
		gap: 30px;
		@include mobile {
			flex-direction: column;
		}
	}

	&__item {
	}

	&__info {
	}

	&__name {
	}

	&__position {
	}

	&__soc {
		&-list {
		}

		&-item {
		}

		&-link {
		}

		&-icon {
		}
	}
}
