body {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-size: 14px;
	letter-spacing: 0.03em;
	color: var(--prim-text);
	background-color: var(--prim-bcgd);
}

@include mobile {
	body.locked {
		overflow: hidden;
		visibility: hidden;
		// lock scroll & real 100vh in iOS Safari
		position: fixed;
		width: 100%;
		max-width: 480px;
		height: 100%;
		left: 50%;
		transform: translateX(-50%);
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.logo-label {
	color: var(--accent);
}
