@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Medium.ttf") format("ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Bold.ttf") format("ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Black.ttf") format("ttf");
    font-weight: 900;
  }
  @font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway/static/Raleway-Bold.ttf") format("ttf");
    font-weight: 700;
  }