:root {
	--text-main-color: #212121;
	--paragraph-color: #757575;
	--accent-color: #2196f3;
	--page-main-color: #ffffff;
	--sec-background-color: #f5f4fa;
	--third-background-color: #2f303a;
	--logo-color: #000000;
	--footer-contact-color: rgba(255, 255, 255, 0.6);
	--btn-background-color: #188ce8;
	--prm-border-color: #ececec;
	--sec-border-color: #eeeeee;
	--icon-color: #afb1b8;
	--footer-icon-background: rgba(255, 255, 255, 0.1);
	--hero-background-color: #c4c4c4;
	--wwd-background-color: rgba(47, 48, 58, 0.8);
}
