:root {
	// Colors
	--accent: #2196f3;
	--focus: #188ce8;
	--prim-text: #212121;
	--scnd-text: #757575;
	--prim-bcgd: #ffffff;
	--scnd-bcgd: #f5f4fa;
	--hero-bcgd: rgba(47, 48, 58, 0.4);
	--footer-bcgd: #2f303a;
	--quat-bcgd: #c4c4c4;
	--fifth-bcgd: rgba(47, 48, 58, 0.8);
	--prim-border: #ececec;
	--scnd-border: #eeeeee;
	--contact: rgba(255, 255, 255, 0.6);
	--icon: #afb1b8;
	--icon-bcgd: rgba(255, 255, 255, 0.1);
	--modal-plhdr: rgba(117, 117, 117, 0.5);
}
